[user]
	name = michaelegregious
 	email = lil.gordie@gmail.com
[core]
  	excludesfile = /Users/michaelbush/.gitignore_global
  	# makes vsc diff viewer, etc.
 		# editor = code --wait
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[alias]
	branch-name = "branch --show-current"
	peel = "!f() { git reset --soft HEAD^; git diff --staged --name-only | xargs git reset HEAD ;}; f"
	sl = stash list
	ss = stash show -v
 	ship = "!if [ $(git branch-name) == 'release_candidate' ] || [ $(git branch-name) == 'master' ]; then echo on $(git branch-name), refusing to ship; else git push origin $(git branch-name); fi"
[init]
	defaultBranch = main
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = code
[mergetool "code"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
